<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="build/server/index.js" verb="*" modules="iisnode" />
        </handlers>
        <iisnode
            nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
            loggingEnabled="false"
            debuggingEnabled="true"
            devErrorsEnabled="true"
        />
        <rewrite>
            <rules>
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(build/client/.*|assets/.*|favicon\.ico|robots\.txt)" />
                    <action type="None" />
                </rule>
                <rule name="DynamicContent">
                    <match url="/*" />
                    <action type="Rewrite" url="build/server/index.js" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration> 